$body-background-color: #2d463b;
$sidebar-color: #273f35;
$body-text-color: #ffffff;
$body-heading-color: #ffffff;
$nav-child-link-color: #d7e2dc;
$link-color: #ffd966;
$border-color: #36463f;
$code-background-color: #22342c;
